## Feature Engineering

In [33]:
import pandas as pd
import numpy as np
import pydataset
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### 1. Load the tips dataset.

In [3]:
tips = pydataset.data('tips')
tips.head(1)

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2

#### a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [4]:
tips['tip_percentage'] = tips.tip / tips.total_bill
tips.head(1)

   total_bill   tip     sex smoker  day    time  size  tip_percentage
1       16.99  1.01  Female     No  Sun  Dinner     2        0.059447

#### b. Create a column named price_per_person. This should be the total bill divided by the party size.

In [19]:
tips = tips.rename(columns={'size': 'party_size'}) 
tips['price_per_person'] = tips.total_bill / tips.party_size
tips.head(5)

,total_bill,tip,sex,smoker,day,time,party_size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

#### c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

* total_bill, day, time

#### d. Use select k best and recursive feature elimination to select the top 2 features for predicting tip amount. What are they?

In [23]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   party_size        244 non-null    int64
 7   tip_percentage    244 non-null    float64
 8   price_per_person  244 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 27.2+ KB

In [26]:
tips.day.value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [38]:
X = tips.drop(columns=['tip', 'sex', 'smoker', 'day', 'time', 'tip_percentage'])
y = tips.tip

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=123)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [39]:
kbest = SelectKBest(f_regression, k=2)
kbest.fit(X_train_scaled, y_train)
kbest.fit(X_train_scaled, y_train)
X_train.columns[kbest.get_support()]

Index(['total_bill', 'party_size'], dtype='object')

#### e. Use select k best and recursive feature elimination to select the top 2 features for predicting tip percentage. What are they?

In [40]:
X_train_scaled

array([[ 2.22751067,  1.51285289,  0.67765502],
       [-0.4404687 , -0.57939047, -0.00598934],
       [-0.76989051, -0.57939047, -0.50426744],
       [-1.04984283, -0.57939047, -0.9277188 ],
       [-1.04197269, -0.57939047, -0.91581454],
       [ 0.02274559, -0.57939047,  0.6946611 ],
       [-0.70130781, -0.57939047, -0.40053036],
       [ 1.75979916,  1.51285289,  0.32392859],
       [ 1.71145398,  1.51285289,  0.28736552],
       [-1.07008035, -0.57939047, -0.95832974],
       [ 0.41850148, -0.57939047,  1.29327507],
       [-0.89918576, -0.57939047, -0.69983735],
       [ 0.66922183,  1.51285289, -0.50086623],
       [ 0.21275339,  1.51285289, -0.84608962],
       [ 1.65186573,  3.60509626, -0.72988142],
       [ 0.81538168, -0.57939047,  1.89358964],
       [ 0.83674351,  3.60509626, -1.14086165],
       [-0.99362751, -0.57939047, -0.84268841],
       [-0.77213912, -0.57939047, -0.50766866],
       [ 3.5080958 ,  0.46673121,  3.08628263],
       [-0.65183833, -0.57939047, -0.32570362],
       [ 3.22926778,  1.51285289,  1.43527583],
       [-0.79462525, -0.57939047, -0.54168081],
       [-0.1638893 ,  0.46673121, -0.61650756],
       [ 1.48659267, -0.57939047,  2.90885254],
       [-1.10493385, -0.57939047, -1.01104858],
       [-0.71255088, -0.57939047, -0.41753644],
       [-1.12517137, -0.57939047, -1.04165953],
       [-0.24146645, -0.57939047,  0.29501825],
       [ 0.50282447,  1.51285289, -0.62671121],
       [-0.15377054, -0.57939047,  0.42766567],
       [-0.36064294, -0.57939047,  0.11475382],
       [ 0.78502541,  0.46673121,  0.3403678 ],
       [ 1.1459278 ,  3.60509626, -0.9849726 ],
       [ 0.10369566,  1.51285289, -0.9285691 ],
       [-1.23985064, -1.62551215,  0.24400002],
       [ 0.40051258,  1.51285289, -0.70408886],
       [ 2.64237978,  1.51285289,  0.99141717],
       [-0.26395258,  0.46673121, -0.71741029],
       [-0.40786381,  0.46673121, -0.86252883],
       [-0.86995379, -0.57939047, -0.65562154],
       [ 0.85135949, -0.57939047,  1.9480091 ],
       [-0.51354862, -0.57939047, -0.11652885],
       [ 0.8536081 ,  1.51285289, -0.36141638],
       [ 2.35455731, -0.57939047,  4.22172181],
       [-0.92841773, -0.57939047, -0.74405315],
       [-0.94865525, -0.57939047, -0.77466409],
       [-0.71142657, -0.57939047, -0.41583583],
       [-1.33429238, -0.57939047, -1.35797259],
       [-0.3707617 ,  0.46673121, -0.82511546],
       [-0.90143437, -0.57939047, -0.70323856],
       [-0.14814901,  1.51285289, -1.11903718],
       [ 0.23523952, -0.57939047,  1.01607599],
       [-0.13240871,  1.51285289, -1.10713293],
       [-0.57650979, -0.57939047, -0.21176289],
       [ 0.57365578, -0.57939047,  1.52795895],
       [ 0.28246039, -0.57939047,  1.08750152],
       [ 1.49446282, -0.57939047,  2.92075679],
       [-0.78113358, -0.57939047, -0.52127352],
       [ 1.21338619,  1.51285289, -0.08931912],
       [ 1.68896785, -0.57939047,  3.21496195],
       [ 0.99302211, -0.57939047,  2.16228569],
       [ 0.05310186,  0.46673121, -0.39769602],
       [ 0.0767123 , -0.57939047,  0.77629028],
       [-0.74290715, -0.57939047, -0.46345285],
       [-0.36963739, -0.57939047,  0.10114896],
       [ 0.8176303 ,  1.51285289, -0.38862611],
       [-1.1307929 , -0.57939047, -1.05016256],
       [ 0.96041722,  2.55897458, -0.75935862],
       [-0.69568628, -0.57939047, -0.39202732],
       [ 0.12168456,  2.55897458, -1.26682001],
       [ 0.00475668, -0.57939047,  0.66745138],
       [ 0.50057586,  0.46673121,  0.05353194],
       [-0.29430885, -0.57939047,  0.21508968],
       [ 0.55229396,  0.46673121,  0.10568391],
       [-0.14814901, -0.57939047,  0.43616871],
       [ 1.36067034,  1.51285289,  0.02207069],
       [-0.40111797,  0.46673121, -0.8557264 ],
       [ 3.22252194,  1.51285289,  1.430174  ],
       [-0.68556752, -0.57939047, -0.37672185],
       [ 0.29482776, -0.57939047,  1.1062082 ],
       [ 0.60626067,  1.51285289, -0.54848325],
       [-0.35277279,  0.46673121, -0.80697564],
       [ 0.14754361, -0.57939047,  0.88342857],
       [-1.043097  ,  0.46673121, -1.50309113],
       [ 2.14993352,  1.51285289,  0.61898405],
       [-0.6136119 , -0.57939047, -0.26788295],
       [ 1.16054378,  1.51285289, -0.12928341],
       [-0.74290715, -0.57939047, -0.46345285],
       [-0.54840213, -0.57939047, -0.16924769],
       [-0.6304765 , -0.57939047, -0.29339207],
       [-0.10317674,  0.46673121, -0.55528568],
       [-0.77776066, -0.57939047, -0.5161717 ],
       [-0.24034214, -0.57939047,  0.29671886],
       [-0.69568628, -0.57939047, -0.39202732],
       [-1.3893834 , -0.57939047, -1.44130237],
       [-0.14927331, -0.57939047,  0.4344681 ],
       [-0.54278059, -0.57939047, -0.16074465],
       [-1.21848881, -0.57939047, -1.18280998],
       [-0.62260636, -0.57939047, -0.28148781],
       [-0.69568628, -0.57939047, -0.39202732],
       [ 3.21127888,  3.60509626,  0.05636628],
       [ 1.0593562 ,  0.46673121,  0.61700001],
       [-0.42697702, -0.57939047,  0.01441796],
       [-1.36015143, -0.57939047, -1.39708657],
       [-0.72491825, -0.57939047, -0.43624313],
       [-1.85934353, -1.62551215, -1.63006985],
       [ 0.45785221, -0.57939047,  1.35279634],
       [-0.73953423, -0.57939047, -0.45835103],
       [ 0.12955471, -0.57939047,  0.85621885],
       [ 1.00538948,  0.46673121,  0.56258056],
       [-1.00711919, -0.57939047, -0.8630957 ],
       [-1.04759422, -0.57939047, -0.92431758],
       [-1.04197269,  0.46673121, -1.50195739],
       [-0.29655747,  0.46673121, -0.75028871],
       [-0.47082498, -0.57939047, -0.05190575],
       [-0.75415022, -0.57939047, -0.48045893],
       [ 2.06898345,  1.51285289,  0.55776217],
       [-0.20211572,  1.51285289, -1.15985177],
       [-0.4753222 , -0.57939047, -0.05870818],
       [-1.11617692, -0.57939047, -1.02805466],
       [ 0.36116185,  0.46673121, -0.08705165],
       [ 0.31618959, -0.57939047,  1.13851975],
       [-0.53715906, -0.57939047, -0.15224161],
       [-0.15152192, -0.57939047,  0.43106688],
       [ 0.01824836,  1.51285289, -0.9931922 ],
       [-0.25833104, -0.57939047,  0.26950914],
       [-0.09305799, -0.57939047,  0.51949849],
       [-0.85308919, -0.57939047, -0.63011242],
       [-0.6990592 , -0.57939047, -0.39712915],
       [-0.34040542, -0.57939047,  0.14536476],
       [ 0.22174784, -0.57939047,  0.99566869],
       [-0.10879828,  0.46673121, -0.56095437],
       [-0.43147425, -0.57939047,  0.00761553],
       [-0.4056152 , -0.57939047,  0.04672951],
       [-0.9407851 , -0.57939047, -0.76275984],
       [-0.38200476,  0.46673121, -0.83645284],
       [-1.02285948, -0.57939047, -0.88690421],
       [-0.22685046,  0.46673121, -0.67999692],
       [-0.51692154, -0.57939047, -0.12163067],
       [-1.07232896, -0.57939047, -0.96173096],
       [ 0.07446369, -0.57939047,  0.77288906],
       [-1.01386503, -0.57939047, -0.87329935],
       [-0.18974835, -0.57939047,  0.37324622],
       [-0.20548864, -0.57939047,  0.34943771],
       [ 1.15154933,  2.55897458, -0.64371729],
       [ 0.3532917 , -0.57939047,  1.19463981],
       [-0.80699263, -0.57939047, -0.5603875 ],
       [-0.85196489, -0.57939047, -0.62841182],
       [ 2.77617225,  0.46673121,  2.34821881],
       [ 1.69121646,  1.51285289,  0.27206005],
       [-1.55802938, -0.57939047, -1.69639355],
       [-0.80137109, -0.57939047, -0.55188446],
       [-0.80361971, -0.57939047, -0.55528568],
       [-0.47757082, -0.57939047, -0.0621094 ],
       [-1.24772078, -0.57939047, -1.22702578],
       [-0.19312127, -0.57939047,  0.36814439],
       [ 0.39264243,  0.46673121, -0.05530697],
       [ 0.0947012 ,  1.51285289, -0.93537153],
       [ 0.70632395,  1.51285289, -0.4728062 ],
       [ 0.34429725, -0.57939047,  1.18103495],
       [ 1.31120086,  0.46673121,  0.87095745],
       [-0.40786381, -0.57939047,  0.04332829],
       [ 0.15766237,  0.46673121, -0.29225833],
       [-1.3545299 , -0.57939047, -1.38858353],
       [-0.01323222, -0.57939047,  0.64024165],
       [-0.17625667, -0.57939047,  0.39365351],
       [ 0.06996646, -0.57939047,  0.76608663],
       [ 0.52418629, -0.57939047,  1.45313221],
       [ 1.82388463,  0.46673121,  1.38794224],
       [-0.23584491, -0.57939047,  0.30352129],
       [ 0.35441601, -0.57939047,  1.19634042],
       [-0.78787942, -0.57939047, -0.53147717],
       [ 0.55566688,  1.51285289, -0.58674692],
       [-1.3893834 , -1.62551215, -0.20836167],
       [-0.31342206, -0.57939047,  0.18617935],
       [-0.51130001, -0.57939047, -0.11312763],
       [ 0.63774125, -0.57939047,  1.6248936 ],
       [ 1.43824749,  1.51285289,  0.08074166],
       [-0.20099141, -0.57939047,  0.35624014],
       [ 0.48820848, -0.57939047,  1.39871276],
       [ 0.86260256, -0.57939047,  1.96501518],
       [-0.37525892, -0.57939047,  0.09264592],
       [ 0.96266584,  0.46673121,  0.51949849],
       [ 0.76478789, -0.57939047,  1.81706229],
       [-0.41123673, -0.57939047,  0.03822647],
       [ 0.09919843, -0.57939047,  0.81030244],
       [ 1.46972808, -0.57939047,  2.88334342],
       [-0.37301031,  0.46673121, -0.82738293],
       [ 0.49495432,  1.51285289, -0.63266333],
       [ 0.15766237, -0.57939047,  0.89873405],
       [-0.8373489 , -0.57939047, -0.60630391],
       [-0.3550214 , -0.57939047,  0.12325686],
       [-1.24659648, -0.57939047, -1.22532517],
       [-0.595623  , -0.57939047, -0.24067322]])

In [43]:
X_train.head()

     total_bill  party_size  price_per_person
24        39.42           4             9.855
191       15.69           2             7.845
210       12.76           2             6.380
11        10.27           2             5.135
197       10.34           2             5.170

In [42]:
# initialize the ML algorithm
lm = LinearRegression()

# create the rfe object, indicating the ML object (lm) and the number of features I want to end up with. 
rfe = RFE(lm, 2)

# fit the data using RFE
rfe.fit(X_train_scaled,y_train)  

# get the mask of the columns selected
feature_mask = rfe.support_

# get list of the column names. 
rfe_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass n_features_to_select=2 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

#### f. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

### 2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

### 3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

### 4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).