## 1. Select a dataset with a continuous target variable.

In [2]:
import wrangle as wr

import pandas as pd
import numpy as np
import wrangle
import matplotlib.pyplot as plt

# modeling methods
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

import warnings
warnings.filterwarnings("ignore")

In [5]:
# Gathering the Zillow Data:
train_scaled, val_scaled, test_scaled = wr.wrangle_zillow()

## 2. Be sure your data is prepared (no missing values, numeric datatypes) and split into samples.

In [6]:
train_scaled.head()

,bedrooms,bathrooms,sqft,tax_value,year_built,tax_amount,bedrooms_scaled,bathrooms_scaled,sqft_scaled,tax_value_scaled,tax_amount_scaled
1193044,4,3.0,2228,646400.0,1972,7641.12,0.666667,0.545455,0.394369,0.341675,0.364838
236723,6,3.0,3862,375000.0,2005,5459.08,1.000000,0.545455,0.683726,0.198213,0.260470
1749535,3,2.0,1710,296634.0,1969,3489.91,0.500000,0.363636,0.302639,0.156789,0.166284
1695860,3,1.0,1136,499311.0,1950,5955.52,0.500000,0.181818,0.200992,0.263924,0.284215
812768,3,2.0,1754,73880.0,1951,1108.15,0.500000,0.363636,0.310430,0.039041,0.052364

In [7]:
train_scaled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168448 entries, 1193044 to 347560
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   bedrooms           1168448 non-null  int64
 1   bathrooms          1168448 non-null  float64
 2   sqft               1168448 non-null  int64
 3   tax_value          1168448 non-null  float64
 4   year_built         1168448 non-null  int64
 5   tax_amount         1168448 non-null  float64
 6   bedrooms_scaled    1168448 non-null  float64
 7   bathrooms_scaled   1168448 non-null  float64
 8   sqft_scaled        1168448 non-null  float64
 9   tax_value_scaled   1168448 non-null  float64
 10  tax_amount_scaled  1168448 non-null  float64
dtypes: float64(8), int64(3)
memory usage: 107.0 MB

In [8]:
train_scaled.shape

(1168448, 11)

## 3. Work through all of the steps outlined in the lesson, from setting the baseline to selected a model and evaluating the final model on your test data.

In [ ]:
# create the model object
lm = LinearRegression(normalize=True)

# fit the model to our training data. We must specify the column in y_train, 
# since we have converted it to a dataframe from a series! 
lm.fit(X_train, y_train.tax_value)

# predict train
y_train['value_predicted'] = lm.predict(X_train)

# evaluate: rmse
rmse_train = mean_squared_error(y_train.G3, y_train.G3_pred_lm)**(1/2)

# predict validate
y_validate['G3_pred_lm'] = lm.predict(X_validate)

# evaluate: rmse
rmse_validate = mean_squared_error(y_validate.G3, y_validate.G3_pred_lm)**(1/2)

print("RMSE for OLS using LinearRegression\nTraining/In-Sample: ", rmse_train, 
      "\nValidation/Out-of-Sample: ", rmse_validate)