## 1. Select a dataset with a continuous target variable.

In [1]:
import wrangle as wr

import pandas as pd
import numpy as np
import wrangle
import matplotlib.pyplot as plt

# modeling methods
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

import warnings
warnings.filterwarnings("ignore")

In [20]:
# Gathering the Zillow Data:
train_scaled, validate_scaled, test_scaled = wr.wrangle_zillow()

## 2. Be sure your data is prepared (no missing values, numeric datatypes) and split into samples.

In [3]:
train_scaled.head()

,bedrooms,bathrooms,sqft,tax_value,year_built,tax_amount,bedrooms_scaled,bathrooms_scaled,sqft_scaled,tax_value_scaled,tax_amount_scaled
304071,3,3.0,1520,359000.0,1989,4564.03,0.500000,0.545455,0.268992,0.189737,0.217666
79809,3,2.0,1720,730569.0,1930,8635.53,0.500000,0.363636,0.304409,0.386129,0.412412
676548,4,3.0,2728,371879.0,1983,4298.92,0.666667,0.545455,0.482911,0.196544,0.204985
1942009,2,1.0,1144,660000.0,1931,7707.11,0.333333,0.181818,0.202408,0.348830,0.368004
1416535,2,1.0,1148,313673.0,1930,3821.05,0.333333,0.181818,0.203117,0.165779,0.182128

In [4]:
train_scaled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168448 entries, 304071 to 405728
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   bedrooms           1168448 non-null  int64
 1   bathrooms          1168448 non-null  float64
 2   sqft               1168448 non-null  int64
 3   tax_value          1168448 non-null  float64
 4   year_built         1168448 non-null  int64
 5   tax_amount         1168448 non-null  float64
 6   bedrooms_scaled    1168448 non-null  float64
 7   bathrooms_scaled   1168448 non-null  float64
 8   sqft_scaled        1168448 non-null  float64
 9   tax_value_scaled   1168448 non-null  float64
 10  tax_amount_scaled  1168448 non-null  float64
dtypes: float64(8), int64(3)
memory usage: 107.0 MB

In [5]:
train_scaled.shape

(1168448, 11)

## 3. Work through all of the steps outlined in the lesson, from setting the baseline to selected a model and evaluating the final model on your test data.

In [21]:
columns_included = ['bedrooms_scaled', 'bathrooms_scaled', 'sqft_scaled']
X_train = train_scaled[columns_included]
y_train = pd.DataFrame(train_scaled.tax_value)

X_validate = validate_scaled[columns_included]
y_validate = pd.DataFrame(validate_scaled.tax_value)

In [26]:
# create the model object
lm = LinearRegression(normalize=True)

# fit the model to our training data. We must specify the column in y_train, 
# since we have converted it to a dataframe from a series! 
lm.fit(X_train, y_train)

# predict train
y_train['value_predicted'] = lm.predict(X_train)

y_train.head()

         tax_value  value_predicted
476631    748877.0    286835.512686
630001    230380.0    300262.328990
609977    120726.0    471280.656295
1379378   408496.0    204823.350600
811979   1591558.0    601822.505289

In [27]:
# evaluate: rmse
rmse_train = mean_squared_error(y_train.tax_value, y_train.value_predicted) ** (1/2)

# predict validate
y_validate['value_predicted'] = lm.predict(X_validate)

# evaluate: rmse
rmse_validate = mean_squared_error(y_validate.tax_value, y_validate.value_predicted) ** (1/2)

print("RMSE for OLS using LinearRegression\nTraining/In-Sample: ", rmse_train, 
      "\nValidation/Out-of-Sample: ", rmse_validate)

RMSE for OLS using LinearRegression
Training/In-Sample:  239189.26209820254
Validation/Out-of-Sample:  238849.53147001198